<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
	<div class="main">
		<div class="logo">
			<img src="image/linked.jpg">
			<img src="image/twitter.jpg">
			<img src="image/pinterest.png">
			<img src="image/google.png">
	</div>
	<div class="search">
		<input type="text" name="text" class="input" placeholder="Enter Your Text Here">
		<input type="submit" name="Submit" class="button">
	</div>


	<div class="image">
		<img src="image/vans.png">
	</div>
	<div class="menu">
		<ul>
			<li>Home</li>
			<li>About Us</li>
			<li>Products</li>
			<li>Contacts</li>
			<li>Showroom</li>
		</ul>
	</div>
</div>
</header>

<hr>
<div class="slide">
	<img src="image/banner.jpg">
</div>
<hr>
<div class="sub">
	<div class="first">
		<img src="image/shoe.jpg">
		<h2>Your title Goes Here</h2>
		<p>Vans is an American manufacturer of skateboarding shoes and related apparel, based in Santa Ana, California and owned by VF Corporation.</p>
		<button class="btn">View More</button>
	</div>
	<div class="first">
		<img src="image/bag.jpg">
		<h2>Your title Goes Here</h2>
		<p>Vans is an American manufacturer of skateboarding shoes and related apparel, based in Santa Ana, California and owned by VF Corporation.</p>
		<button class="btn">View More</button>
	</div>
	<div class="first">
		<img src="image/shirt.jpg">
		<h2>Your title Goes Here</h2>
		<p>Vans is an American manufacturer of skateboarding shoes and related apparel, based in Santa Ana, California and owned by VF Corporation.</p>
		<button class="btn">View More</button>
	</div>
</div>
<hr class="line">
<div class="write">
<p>Ya'll know me, cause I walk with a limp. Like an old school pimp or a real og. I rocking VANS I'm in the sand I've a got a red bull and vodka up in my hand
</p>
</div>
<div class="small">
	<div class="small-a">
	<div class="a">
		<img src="image/a.jpg">
		<h4>Your Title Goes Here</h4>
		<p class="paragraph">Vans is an American manufacturer of skateboarding shoes and related apparel, based in Santa Ana, California and owned by VF Corporation.</p>
</div>
<div class="a">
		<img src="image/b.jpg">
		<h4>Your Title Goes Here</h4>
		<p>Vans is an American manufacturer of skateboarding shoes and related apparel, based in Santa Ana, California and owned by VF Corporation.</p>
</div>
<div class="a">
		<img src="image/c.jpg">
		<h4>Your Title Goes Here</h4>
		<p>Vans is an American manufacturer of skateboarding shoes and related apparel, based in Santa Ana, California and owned by VF Corporation.</p>
</div>
</div>
<div class="small-b">
	<div class="a">
		<img src="image/d.jpg">
		<h4>Your Title Goes Here</h4>
		<p class="paragraph">Vans is an American manufacturer of skateboarding shoes and related apparel, based in Santa Ana, California and owned by VF Corporation.</p>
</div>
<div class="a">
		<img src="image/e.jpg">
		<h4>Your Title Goes Here</h4>
		<p>Vans is an American manufacturer of skateboarding shoes and related apparel, based in Santa Ana, California and owned by VF Corporation.</p>
</div>
<div class="a">
		<img src="image/f.jpg">
		<h4>Your Title Goes Here</h4>
		<p>Vans is an American manufacturer of skateboarding shoes and related apparel, based in Santa Ana, California and owned by VF Corporation.</p>
</div>
</div>
</div>
<div class="footer">
	<div class="end">
		<h2 class="contact">Contact Details</h2>
		<p>Company Name:</p>
		<p>Street Name:</p>
		<p>Town:</p>
		<p>Postcode:</p>
		<p>Tel:xxxxxxxx</p>
		<p>Fax:xxxxxxxx</p>
		<p>Email:officialVans@vans.com</p>
	</div>
	<div class="end">
		<h2 class="quick">Quick Links</h2>
		<p><a href="#">Text Link Here</a></p>
		<hr>
		<p><a href="#">Text Link Here</a></p>
		<hr>
		<p><a href="#">Text Link Here</a></p>
		<hr>
		<p><a href="#">Text Link Here</a></p>
		<hr>
	</div>
	<div class="end">
		<h2 class="blog">From The Blog</h2>
		<p class="para">This is only demo version of this webpage there is still more work needed to be done so be chill and enjoy This is only demo version of this webpage there is still more work needed to be done so be chill and enjoy This is only demo version of this webpage there is still more work needed to be done so be chill and enjoy</p>
		<p class="link"><a href="#">Read More >> </a></p>
	 </div>
	 <div class="end">
	 	 	<h2 class="news">NewsLetter</h2>
	 	<input type="text" name="text" class="text" placeholder="Name">
	 	<input type="text" name="email" class="text" placeholder="Email"><br>
	 	<button class="button">Submit</button>
	 </div>
	</div>
	<div class="final">
		<p class="left">Copyright Right Reserved &copy;</p>

		<p class="right">Official Vans Shoes  👟 </p>
	</div>

</body>


	


</html>